body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Light background for a light mode effect */
}

.main-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  flex-direction: column;
}

.header-container {
  display: flex;
  height: 100%; /* Full height of the container */
}

.left-container {
  flex: 1;
  background: url('media/wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.9; /* Slightly reduced opacity for subtle effect */
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* White background for contrast */
}

.hero-section {
  margin-top: 50px;
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1); /* Very light background for subtle contrast */
  max-width: 80%;
  color: #333; /* Dark gray text for readability */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #111; /* Dark color for emphasis */
}

.hero-section p {
  font-size: 1.25rem;
  color: #666; /* Medium gray for secondary text */
}

.login-button-container {
  margin-top: 30px;
}

